@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html, body, .App, #root {
  margin: 0;
  height: 100%;
  font-family: 'Share Tech Mono', monospace;
}

body { 
  background-color: #86C4FD; 
  text-align: center; 
}
